body {
	background-image: url("../images/xmen-wallpaper.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-size: 100% 100%;
    background-size: cover;

	text-align: center;
}

.logo{
    font-size: 85px;
    font-family: 'Russo One', sans-serif;
	color: rgb(251, 255, 0);
	font-weight: bold;
	margin-top: 3%;
    margin-bottom: 3%;
	text-shadow: 8px 6px 4px black;
	-webkit-text-stroke: 2px black;
}

#start-container {
	height: auto;
	padding-bottom: 50px;
	margin-right: 15%;
	margin-left: 15%;
    background-image: url("../images/dna.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	border-radius: 15px;
	margin-top: 50%;
	margin-bottom: 50%;
}

#start-button {
	margin-top: 8%;
	height: 75px;
	width: 250px;
    font-size: 30px;
    font-family: 'Bangers', cursive;
	border-style: solid;
    border-width: 3px;
    background-color: rgb(133, 236, 159);
	border-color: black;
    border-radius: 10px;
    box-shadow: 20px 20px 20px black;
}

#three-minutes {
    margin-top: 40px;
    font-size: 40px;
	font-family: 'Bangers', cursive;
	color: rgb(189, 155, 221);
    text-shadow: 2px 2px 5px black;
}

#mid-game-container {
	box-sizing: border-box;
	text-align: center;
	color: black;
	margin-top: 3%;
	height: auto;
	padding-bottom: 50px;
	margin-right: 15%;
	margin-left: 15%;
	background-image: url("../images/xmenlogo.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	border-radius: 15px;
	margin-top: 50%;
	margin-bottom: 50%;
}

#timer-line{
    margin-bottom: 50px;
    font-size: 50px;
}

h1{
    font-size: 40px;
    font-family: 'Bangers', cursive;
	margin-bottom: 10px;
    margin-top: 30px;
    text-shadow: 2px 2px 5px white;
}

.answers input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
	border-radius: 10px;
	padding: 6px;
	border: 3px solid black;
	background-color: rgb(133, 236, 159);
	text-shadow: none;
}

.answers {
	font-family: 'Bangers', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
}

.answers label {
	margin: 10px;
}

#done-button{
	margin-top: 5%;
	height: 75px;
	width: 250px;
	font-size: 30px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    background-color: rgb(133, 236, 159);
    box-shadow: 20px 20px 20px black;
}

#end-container {
	height: auto;
	padding-bottom: 50px;
	margin-right: 15%;
	margin-left: 15%;
	background-image: url("../images/logo1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	border-radius: 15px;
    color: rgb(123, 6, 231);
    text-shadow: 2px 2px 5px white;
	margin-top: 50%;
	margin-bottom: 50%;
}

.end-content {
    text-shadow: 2px 2px 5px white;
}

#end-content-2 {
	font-size: 25px;
	font-weight: bold;
	text-shadow: none;
	text-shadow: 1px 1px 5px black;
}

#done{
	font-size: 40px;
}